.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;

}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.ptext {
  margin-top: 3.5%;
  font-size: large;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}


body{
  background-size: 105% 100%;
  background-image: url(images/bg-2.jpg);
  background-repeat: no-repeat;
}

.reloadBtn{
  margin:3% 50% 0% 46.5%;
  width: 115.2px;
  height: 45.2px;
  text-align: center;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-weight: bold;
  border-radius: 10%;
  border-color: antiquewhite;
}